flow-nodered/monitoring-jantung.xml
[
    {
        "id": "65957d73c537dbb3",
        "type": "tab",
        "label": "Monitoring Jantung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "33663b41d987b872",
        "type": "inject",
        "z": "65957d73c537dbb3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "fc70854abffd957a",
                "f31e65159b806fee",
                "262d83011da55fec"
            ]
        ]
    },
    {
        "id": "fc70854abffd957a",
        "type": "random",
        "z": "65957d73c537dbb3",
        "name": "Sensor Heart Rate",
        "low": "60",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "b2a2fedae3659e13",
                "4ec428797720897f",
                "f8ace6addccd4fc1"
            ]
        ]
    },
    {
        "id": "f31e65159b806fee",
        "type": "random",
        "z": "65957d73c537dbb3",
        "name": "Sensor Systole",
        "low": "70",
        "high": "140",
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 340,
        "wires": [
            [
                "731c2f8378fa594c",
                "558ae90afa380ac9",
                "4f0de18a46d017b4"
            ]
        ]
    },
    {
        "id": "262d83011da55fec",
        "type": "random",
        "z": "65957d73c537dbb3",
        "name": "Sensor Diastole",
        "low": "40",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 480,
        "y": 560,
        "wires": [
            [
                "53e9f0e212a5fa39",
                "27c7c26dda47e4cd",
                "16576e67ab564877"
            ]
        ]
    },
    {
        "id": "b2a2fedae3659e13",
        "type": "mqtt out",
        "z": "65957d73c537dbb3",
        "name": "Jantung1",
        "topic": "jantung/rate",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "4ec428797720897f",
        "type": "debug",
        "z": "65957d73c537dbb3",
        "name": "debug 45",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "731c2f8378fa594c",
        "type": "debug",
        "z": "65957d73c537dbb3",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 400,
        "wires": []
    },
    {
        "id": "53e9f0e212a5fa39",
        "type": "debug",
        "z": "65957d73c537dbb3",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "558ae90afa380ac9",
        "type": "mqtt out",
        "z": "65957d73c537dbb3",
        "name": "Jantung2",
        "topic": "jantung/systole",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "27c7c26dda47e4cd",
        "type": "mqtt out",
        "z": "65957d73c537dbb3",
        "name": "Jantung3",
        "topic": "jantung/diastole",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 740,
        "y": 560,
        "wires": []
    },
    {
        "id": "f8ace6addccd4fc1",
        "type": "ui_chart",
        "z": "65957d73c537dbb3",
        "name": "",
        "group": "c8f900d685ef9f76",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Sensor Heart Rate",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4f0de18a46d017b4",
        "type": "ui_chart",
        "z": "65957d73c537dbb3",
        "name": "",
        "group": "c8f900d685ef9f76",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Sensor Systole",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "16576e67ab564877",
        "type": "ui_chart",
        "z": "65957d73c537dbb3",
        "name": "",
        "group": "c8f900d685ef9f76",
        "order": 5,
        "width": 9,
        "height": 5,
        "label": "Sensor Diastole",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c8f900d685ef9f76",
        "type": "ui_group",
        "z": "65957d73c537dbb3",
        "name": "Jantung",
        "tab": "1bac7a74c85ac321",
        "order": 2,
        "disp": true,
        "width": 29,
        "collapse": true,
        "className": ""
    },
    {
        "id": "1bac7a74c85ac321",
        "type": "ui_tab",
        "name": "Group 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]