flow-nodered/monitoring-lambung.xml
[
    {
        "id": "f76cfa8d6cc08c12",
        "type": "tab",
        "label": "Monitoring Lambung",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0966f2b9cdd05aa2",
        "type": "inject",
        "z": "f76cfa8d6cc08c12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "fe915fccce2ea15f",
                "86f82def7dc1bbdf",
                "6658748bb6298b8d"
            ]
        ]
    },
    {
        "id": "fe915fccce2ea15f",
        "type": "random",
        "z": "f76cfa8d6cc08c12",
        "name": "Sensor Acidity",
        "low": "1",
        "high": "6",
        "inte": "false",
        "property": "payload",
        "x": 380,
        "y": 100,
        "wires": [
            [
                "edef54c9f01c852b",
                "78f9bdd19cab41a6",
                "1bfe2b2c00fbd8a0"
            ]
        ]
    },
    {
        "id": "86f82def7dc1bbdf",
        "type": "random",
        "z": "f76cfa8d6cc08c12",
        "name": "Sensor Volume",
        "low": "20",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "f89990cdb044fcea",
                "1a6c28ea2288fb01",
                "16de0d4fb15bb905"
            ]
        ]
    },
    {
        "id": "6658748bb6298b8d",
        "type": "random",
        "z": "f76cfa8d6cc08c12",
        "name": "Sensor Temperature",
        "low": "30",
        "high": "50",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "fa7954c04d77f725",
                "abce0e871ab441b5",
                "ac73c76a3b19800a"
            ]
        ]
    },
    {
        "id": "edef54c9f01c852b",
        "type": "mqtt out",
        "z": "f76cfa8d6cc08c12",
        "name": "Lambung1",
        "topic": "lambung/acid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "78f9bdd19cab41a6",
        "type": "debug",
        "z": "f76cfa8d6cc08c12",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "f89990cdb044fcea",
        "type": "debug",
        "z": "f76cfa8d6cc08c12",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "fa7954c04d77f725",
        "type": "debug",
        "z": "f76cfa8d6cc08c12",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "1a6c28ea2288fb01",
        "type": "mqtt out",
        "z": "f76cfa8d6cc08c12",
        "name": "Lambung2",
        "topic": "lambung/volume",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "abce0e871ab441b5",
        "type": "mqtt out",
        "z": "f76cfa8d6cc08c12",
        "name": "Lambung3",
        "topic": "lambung/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "1bfe2b2c00fbd8a0",
        "type": "ui_chart",
        "z": "f76cfa8d6cc08c12",
        "name": "",
        "group": "4358a5d8b8287679",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Sensor Acidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "16de0d4fb15bb905",
        "type": "ui_chart",
        "z": "f76cfa8d6cc08c12",
        "name": "",
        "group": "4358a5d8b8287679",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Sensor Volume",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "ac73c76a3b19800a",
        "type": "ui_chart",
        "z": "f76cfa8d6cc08c12",
        "name": "",
        "group": "4358a5d8b8287679",
        "order": 5,
        "width": 9,
        "height": 5,
        "label": "Sensor Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4358a5d8b8287679",
        "type": "ui_group",
        "z": "f76cfa8d6cc08c12",
        "name": "Lambung",
        "tab": "8ccb39676a9f816b",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": true,
        "className": ""
    },
    {
        "id": "8ccb39676a9f816b",
        "type": "ui_tab",
        "name": "Group 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]