flow-nodered/monitoring-paru.xml
[
    {
        "id": "65315474c93f390b",
        "type": "tab",
        "label": "Monitoring Paru",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a56a6573a32c6719",
        "type": "inject",
        "z": "65315474c93f390b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "ac79983ba7534741",
                "9dcafe8337bc6147",
                "abf24b612cb44480"
            ]
        ]
    },
    {
        "id": "ac79983ba7534741",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor O2",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "6a586a391a026f24",
                "8d2a6994f0308978",
                "9be669fabd442d52"
            ]
        ]
    },
    {
        "id": "9dcafe8337bc6147",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Tidal",
        "low": "400",
        "high": "800",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "d845dc6e1d2494d9",
                "c8b1cdc8689f3406",
                "c2643abeade0cd47"
            ]
        ]
    },
    {
        "id": "abf24b612cb44480",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Kapasitas",
        "low": "3000",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "7ccb873a1030be1b",
                "ef2f8d3afe37ad5d",
                "5236aff65d711fa7"
            ]
        ]
    },
    {
        "id": "6a586a391a026f24",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Paru1",
        "topic": "paru/oxygen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d2a6994f0308978",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "d845dc6e1d2494d9",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ccb873a1030be1b",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "c8b1cdc8689f3406",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Paru2",
        "topic": "paru/tidal",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "ef2f8d3afe37ad5d",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "Paru3",
        "topic": "paru/capacity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "9be669fabd442d52",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Sensor Oxygen Saturation",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c2643abeade0cd47",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Sensor Tidal Volume",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5236aff65d711fa7",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 5,
        "width": 9,
        "height": 5,
        "label": "Sensor Capacity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e9ed3f5db21fb601",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c24357c4aea57a78",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d21dab94db0c7f90",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "706c9ad39ddb3107",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a57aec960286e4e5",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d7c94521877d184",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f42fca92622bb27",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "772428946a6be022",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e62b7c531a8e449b",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "382d58afa4422bd4",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "c8f900d685ef9f76",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "26b94b8f6febd861",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f4aba1eefe53e82e",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4d19bb7f8e9932f",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "8275dc6c347e8eda",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "9beab6875f7f2393",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1358be41e1798578",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "9eadfc1b50e5c40f",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "d03632584ca8516a",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "9337abf6d8d8ecfe",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a3c0a5c5fc70cbb",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2214d56b446ef353",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7cdc1046c2a2afd",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6a8d0d879db16bd",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d22c026cafc4eb45",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "53bb0dede974cd45",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfdcadd914e189eb",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "c2eaf9cc750918b0",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "7885fa96a4df35b0",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "38ac79c48a5fbe0f",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "86a8aba12ace94fb",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "4358a5d8b8287679",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "373cfda0f2d6dc1f",
        "type": "ui_group",
        "z": "65315474c93f390b",
        "name": "Paru-Paru",
        "tab": "b395da7d6ed382de",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": true,
        "className": ""
    },
    {
        "id": "c8f900d685ef9f76",
        "type": "ui_group",
        "z": "65957d73c537dbb3",
        "name": "Jantung",
        "tab": "1bac7a74c85ac321",
        "order": 2,
        "disp": true,
        "width": 29,
        "collapse": true,
        "className": ""
    },
    {
        "id": "4358a5d8b8287679",
        "type": "ui_group",
        "z": "f76cfa8d6cc08c12",
        "name": "Lambung",
        "tab": "8ccb39676a9f816b",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": true,
        "className": ""
    },
    {
        "id": "b395da7d6ed382de",
        "type": "ui_tab",
        "name": "Group 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bac7a74c85ac321",
        "type": "ui_tab",
        "name": "Group 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ccb39676a9f816b",
        "type": "ui_tab",
        "name": "Group 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]