flow-nodered/sistem-smartfarm.xml
[
    {
        "id": "65315474c93f390b",
        "type": "tab",
        "label": "Sistem Smart Farm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a56a6573a32c6719",
        "type": "inject",
        "z": "65315474c93f390b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ac79983ba7534741",
                "9dcafe8337bc6147",
                "abf24b612cb44480",
                "bbe6cfe9fe420240",
                "b9d7062232d4dad6",
                "859ce882610f5971",
                "19f8cfb6cd93e587",
                "fcb3147a97ea3f5f",
                "fb804d8617c12b0a"
            ]
        ]
    },
    {
        "id": "ac79983ba7534741",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Kadar Protein",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "6a586a391a026f24",
                "8d2a6994f0308978",
                "9be669fabd442d52"
            ]
        ]
    },
    {
        "id": "9dcafe8337bc6147",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Omega 3",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "d845dc6e1d2494d9",
                "c8b1cdc8689f3406",
                "c2643abeade0cd47"
            ]
        ]
    },
    {
        "id": "abf24b612cb44480",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Salmonella",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "7ccb873a1030be1b",
                "ef2f8d3afe37ad5d",
                "5236aff65d711fa7"
            ]
        ]
    },
    {
        "id": "6a586a391a026f24",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "susutelur/protein",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d2a6994f0308978",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "d845dc6e1d2494d9",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "7ccb873a1030be1b",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "c8b1cdc8689f3406",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "susutelur/omega",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef2f8d3afe37ad5d",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "susutelur/salmonella",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "9be669fabd442d52",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 1,
        "width": 9,
        "height": 5,
        "label": "Sensor Kadar Protein",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "c2643abeade0cd47",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 9,
        "width": 9,
        "height": 5,
        "label": "Sensor Omega 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5236aff65d711fa7",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 17,
        "width": 9,
        "height": 5,
        "label": "Sensor Salmonella",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe6cfe9fe420240",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Muscle",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 380,
        "wires": [
            [
                "074be63c9b8ecd68",
                "80a10ad3fb99bc03",
                "ec106763d9e8417a"
            ]
        ]
    },
    {
        "id": "b9d7062232d4dad6",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Kadar Darah",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "b3d7f4a19e17504e",
                "4896341e42327583",
                "57682b2b68b8adcd"
            ]
        ]
    },
    {
        "id": "859ce882610f5971",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Gas Metana",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "d031099333a9461a",
                "b1f1c6673e10b2fd",
                "01c9c06ffa366a49"
            ]
        ]
    },
    {
        "id": "074be63c9b8ecd68",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingmerah/muscle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "80a10ad3fb99bc03",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "b3d7f4a19e17504e",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 49",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "d031099333a9461a",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 540,
        "wires": []
    },
    {
        "id": "4896341e42327583",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingmerah/darah",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "b1f1c6673e10b2fd",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingmerah/metana",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 660,
        "y": 540,
        "wires": []
    },
    {
        "id": "ec106763d9e8417a",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 2,
        "width": 9,
        "height": 5,
        "label": "Sensor Muscle",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "57682b2b68b8adcd",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 10,
        "width": 9,
        "height": 5,
        "label": "Sensor Kadar Darah",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "01c9c06ffa366a49",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 18,
        "width": 9,
        "height": 5,
        "label": "Sensor Gas Metana",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "19f8cfb6cd93e587",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor E.coli",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 660,
        "wires": [
            [
                "a4f521606c89b4c7",
                "a47b1e86bb54ea90",
                "d76290a1668313ce"
            ]
        ]
    },
    {
        "id": "fcb3147a97ea3f5f",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Warna",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 740,
        "wires": [
            [
                "8e109b6d84c9a645",
                "2387d44aa29a752a",
                "1c062c7397eaf746"
            ]
        ]
    },
    {
        "id": "fb804d8617c12b0a",
        "type": "random",
        "z": "65315474c93f390b",
        "name": "Sensor Amonia",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 820,
        "wires": [
            [
                "042a1370277dabd6",
                "652aa1c7617fdf5c",
                "7f8057ea0e470edc"
            ]
        ]
    },
    {
        "id": "a4f521606c89b4c7",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingputih/ecoli",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 660,
        "wires": []
    },
    {
        "id": "a47b1e86bb54ea90",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "8e109b6d84c9a645",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 740,
        "wires": []
    },
    {
        "id": "042a1370277dabd6",
        "type": "debug",
        "z": "65315474c93f390b",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "2387d44aa29a752a",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingputih/warna",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 740,
        "wires": []
    },
    {
        "id": "652aa1c7617fdf5c",
        "type": "mqtt out",
        "z": "65315474c93f390b",
        "name": "",
        "topic": "dagingputih/amonia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "d76290a1668313ce",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Sensor E.coli",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "1c062c7397eaf746",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 11,
        "width": 9,
        "height": 5,
        "label": "Sensor Warna Daging",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "7f8057ea0e470edc",
        "type": "ui_chart",
        "z": "65315474c93f390b",
        "name": "",
        "group": "373cfda0f2d6dc1f",
        "order": 19,
        "width": 9,
        "height": 5,
        "label": "Sensor Amonia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e9ed3f5db21fb601",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c24357c4aea57a78",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d21dab94db0c7f90",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "706c9ad39ddb3107",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a57aec960286e4e5",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d7c94521877d184",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f42fca92622bb27",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "772428946a6be022",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e62b7c531a8e449b",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "382d58afa4422bd4",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "2214d56b446ef353",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7cdc1046c2a2afd",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "d6a8d0d879db16bd",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d22c026cafc4eb45",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "53bb0dede974cd45",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfdcadd914e189eb",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "c2eaf9cc750918b0",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "7885fa96a4df35b0",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "38ac79c48a5fbe0f",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "86a8aba12ace94fb",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": null,
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "5e2fa7ef0e2f2a17",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "507934599af8c275",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b98880cce8064f1",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a0b623bcc3f73e4",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "6cc0b5b14ee01b84",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "63c9bf6bfb5741ac",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "9e8a1e32f865eb20",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "9ae0e6d15ae37e63",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "f2cd7ba4ddec3d4d",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "3aba57c76053c689",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "d248ccae206b36aa",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "9822c178d51926bf",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "5079fa10ad1c3973",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "07f6bec033edc363",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "1d44b190331262e6",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "373cfda0f2d6dc1f",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "2a2b532b104be81c",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "f3193a4f3c0d8f34",
        "order": 4,
        "width": 24,
        "height": 1
    },
    {
        "id": "ff50524a98537627",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "f3193a4f3c0d8f34",
        "order": 8,
        "width": 24,
        "height": 1
    },
    {
        "id": "77b478b62dbbbea7",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "e6875bca0ca84129",
        "order": 4,
        "width": 24,
        "height": 1
    },
    {
        "id": "0dfc6092fdccefc5",
        "type": "ui_spacer",
        "z": "65315474c93f390b",
        "name": "spacer",
        "group": "e6875bca0ca84129",
        "order": 8,
        "width": 24,
        "height": 1
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "373cfda0f2d6dc1f",
        "type": "ui_group",
        "z": "65315474c93f390b",
        "name": "Smart Farm",
        "tab": "b395da7d6ed382de",
        "order": 1,
        "disp": true,
        "width": "29",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f3193a4f3c0d8f34",
        "type": "ui_group",
        "name": "Smart Plantation",
        "tab": "8ccb39676a9f816b",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": true,
        "className": ""
    },
    {
        "id": "e6875bca0ca84129",
        "type": "ui_group",
        "name": "Smart Restaurant",
        "tab": "1bac7a74c85ac321",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b395da7d6ed382de",
        "type": "ui_tab",
        "name": "Group 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8ccb39676a9f816b",
        "type": "ui_tab",
        "name": "Group 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1bac7a74c85ac321",
        "type": "ui_tab",
        "name": "Group 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]