flow-nodered/sistem-smartplantation.xml
[
    {
        "id": "b1d04214c5ec859d",
        "type": "tab",
        "label": "Sistem Smart Plantation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b65f7ac53492525",
        "type": "inject",
        "z": "b1d04214c5ec859d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "d08c727f31ea7618",
                "1afd5adcbe258db5",
                "11652ebee4d64db7",
                "a28e8f4cccfdbdfa",
                "a978f13aaa1cf753",
                "d788e4e01a6e06bc",
                "d4142ad5acb876a2",
                "90dc71c3820b3c10",
                "22d636279bef94a3"
            ]
        ]
    },
    {
        "id": "d08c727f31ea7618",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Volume",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "42553659248023a5",
                "5a95b85e573370a5",
                "752069f215564262"
            ]
        ]
    },
    {
        "id": "1afd5adcbe258db5",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Kelembaban",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "b6a6c584ccc8817b",
                "fd168c223092a13a",
                "22329a2cca2aa1d3"
            ]
        ]
    },
    {
        "id": "11652ebee4d64db7",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Kadar Oksigen",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "6ae5281f41a3ea90",
                "dc9876cec98d1d1b",
                "bce11713426209cf"
            ]
        ]
    },
    {
        "id": "42553659248023a5",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "karbohidrat/volume",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "5a95b85e573370a5",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "b6a6c584ccc8817b",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 55",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "6ae5281f41a3ea90",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd168c223092a13a",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "karbohidrat/kelembaban",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "dc9876cec98d1d1b",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "karbohidrat/oksigen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "752069f215564262",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Sensor Volume",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "22329a2cca2aa1d3",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 6,
        "width": 8,
        "height": 5,
        "label": "Sensor Kelembaban",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "bce11713426209cf",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 10,
        "width": 8,
        "height": 5,
        "label": "Sensor Capacity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a28e8f4cccfdbdfa",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Urea Tanah",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 360,
        "wires": [
            [
                "29d6c58b5ed150fb",
                "f4d484fbde30a49c",
                "1532738ff747d8fd"
            ]
        ]
    },
    {
        "id": "a978f13aaa1cf753",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Cahaya",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "256e38f10cda9ea6",
                "f083cc64f98223a7",
                "61821b708ab1c62e"
            ]
        ]
    },
    {
        "id": "22d636279bef94a3",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Temperatur",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "a1d0668e0f204a8c",
                "123de6474b149173",
                "e9c190f0cd2f4ac8"
            ]
        ]
    },
    {
        "id": "29d6c58b5ed150fb",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "sayuran/urea",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "f4d484fbde30a49c",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 57",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "256e38f10cda9ea6",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 58",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 440,
        "wires": []
    },
    {
        "id": "a1d0668e0f204a8c",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "f083cc64f98223a7",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "sayuran/cahaya",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 620,
        "y": 440,
        "wires": []
    },
    {
        "id": "123de6474b149173",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "sayuran/temperatur",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "1532738ff747d8fd",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 2,
        "width": 8,
        "height": 5,
        "label": "Sensor Urea Tanah",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "61821b708ab1c62e",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 7,
        "width": 8,
        "height": 5,
        "label": "Sensor Cahaya",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e9c190f0cd2f4ac8",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 11,
        "width": 8,
        "height": 5,
        "label": "Sensor Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d788e4e01a6e06bc",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Pestisida",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "24b04b5ef4240d08",
                "a7fa2290289914ac",
                "f4a2f39ec28114f8"
            ]
        ]
    },
    {
        "id": "d4142ad5acb876a2",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Ukuran",
        "low": "400",
        "high": "800",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "eea0761ed4db0f60",
                "f79cd62a2c9f9eae",
                "5a1b080ea8854622"
            ]
        ]
    },
    {
        "id": "90dc71c3820b3c10",
        "type": "random",
        "z": "b1d04214c5ec859d",
        "name": "Sensor Berat",
        "low": "3000",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "bfc21dfb9a1f3bd9",
                "c9332e5630dc0e6f",
                "aa950497f10866f2"
            ]
        ]
    },
    {
        "id": "24b04b5ef4240d08",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "buah/pestisida",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "a7fa2290289914ac",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 60",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "eea0761ed4db0f60",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 61",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 720,
        "wires": []
    },
    {
        "id": "bfc21dfb9a1f3bd9",
        "type": "debug",
        "z": "b1d04214c5ec859d",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 800,
        "wires": []
    },
    {
        "id": "f79cd62a2c9f9eae",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "buah/ukuran",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 610,
        "y": 720,
        "wires": []
    },
    {
        "id": "c9332e5630dc0e6f",
        "type": "mqtt out",
        "z": "b1d04214c5ec859d",
        "name": "",
        "topic": "buah/berat",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 610,
        "y": 800,
        "wires": []
    },
    {
        "id": "f4a2f39ec28114f8",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 5,
        "width": 8,
        "height": 5,
        "label": "Sensor Pestisida",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "5a1b080ea8854622",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 9,
        "width": 8,
        "height": 5,
        "label": "Sensor Ukuran",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "aa950497f10866f2",
        "type": "ui_chart",
        "z": "b1d04214c5ec859d",
        "name": "",
        "group": "f3193a4f3c0d8f34",
        "order": 3,
        "width": 8,
        "height": 5,
        "label": "Sensor Berat",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f3193a4f3c0d8f34",
        "type": "ui_group",
        "name": "Smart Plantation",
        "tab": "8ccb39676a9f816b",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": true,
        "className": ""
    },
    {
        "id": "8ccb39676a9f816b",
        "type": "ui_tab",
        "name": "Group 2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]