flow-nodered/sistem-smartrestaurant.xml
[
    {
        "id": "6a68047d8997512b",
        "type": "tab",
        "label": "Sistem Smart Restaurant",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d72681748849ad2",
        "type": "inject",
        "z": "6a68047d8997512b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "a4b1e6d9990e96ae",
                "640d2e7bd6f63bd1",
                "9e31f224ae2fd77e",
                "6f328a90f4bd6ccb",
                "7d4368a6bed619e5",
                "9ae3f18dbb1df751",
                "04160bd2c3a786a1",
                "0476b2031119486d",
                "2faa57419d546a06"
            ]
        ]
    },
    {
        "id": "a4b1e6d9990e96ae",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Kecepatan Angin",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "8b56170763ba5f98",
                "8b056b5a25d15b90",
                "b0137280dc2c27a3"
            ]
        ]
    },
    {
        "id": "640d2e7bd6f63bd1",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Kadar Listrik",
        "low": "400",
        "high": "800",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "64f6d8657d990f9d",
                "e2f1ce01afaa2f47",
                "0227e120043d5e25"
            ]
        ]
    },
    {
        "id": "9e31f224ae2fd77e",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Barometer",
        "low": "3000",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "594027b1e2d60136",
                "f3ef9b2e85797880",
                "a0e284409a3db065"
            ]
        ]
    },
    {
        "id": "8b56170763ba5f98",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "musim/angin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b056b5a25d15b90",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 63",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "64f6d8657d990f9d",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "594027b1e2d60136",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "e2f1ce01afaa2f47",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "musim/listrik",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3ef9b2e85797880",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "musim/barometer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0137280dc2c27a3",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Sensor Kecepatan Angin",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0227e120043d5e25",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 5,
        "width": 8,
        "height": 5,
        "label": "Sensor Kadar Listrik",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e284409a3db065",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 10,
        "width": 8,
        "height": 5,
        "label": "Sensor Barometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6f328a90f4bd6ccb",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Barcode",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "6ef9cd1cb3a815b4",
                "69f646cea3fa2d2e",
                "0579076eb327d0f8"
            ]
        ]
    },
    {
        "id": "7d4368a6bed619e5",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Cashflow",
        "low": "400",
        "high": "800",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "3e78fecee34da570",
                "a101e228c9fb0638",
                "d57fda552a47e13a"
            ]
        ]
    },
    {
        "id": "9ae3f18dbb1df751",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Infrared",
        "low": "3000",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "d004c6adaaba053b",
                "0e771f3e115e65b9",
                "8107e7f037be25cd"
            ]
        ]
    },
    {
        "id": "6ef9cd1cb3a815b4",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "penjualan/barcode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "69f646cea3fa2d2e",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 66",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "3e78fecee34da570",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "d004c6adaaba053b",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "a101e228c9fb0638",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "penjualan/cashflow",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "0e771f3e115e65b9",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "penjualan/infrared",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 520,
        "wires": []
    },
    {
        "id": "0579076eb327d0f8",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 2,
        "width": 8,
        "height": 5,
        "label": "Sensor Barcode",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d57fda552a47e13a",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 6,
        "width": 8,
        "height": 5,
        "label": "Sensor Cashflow",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8107e7f037be25cd",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 7,
        "width": 8,
        "height": 5,
        "label": "Sensor Infrared",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "04160bd2c3a786a1",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Ultrasonic",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 640,
        "wires": [
            [
                "9aea75f06c2e6fb6",
                "ae9d39b825010262",
                "50a31b660205c8c2"
            ]
        ]
    },
    {
        "id": "0476b2031119486d",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Kamera",
        "low": "400",
        "high": "800",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "d4fe26cb34305bdc",
                "384472f8456ab59f",
                "35f0f108148d4b1c"
            ]
        ]
    },
    {
        "id": "2faa57419d546a06",
        "type": "random",
        "z": "6a68047d8997512b",
        "name": "Sensor Lidar",
        "low": "3000",
        "high": "5000",
        "inte": "true",
        "property": "payload",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "708e0f429893d734",
                "8bfee3ce85b98330",
                "5fb6062704a9ab9f"
            ]
        ]
    },
    {
        "id": "9aea75f06c2e6fb6",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "pengunjung/ultrasonic",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "ae9d39b825010262",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 640,
        "wires": []
    },
    {
        "id": "d4fe26cb34305bdc",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 720,
        "wires": []
    },
    {
        "id": "708e0f429893d734",
        "type": "debug",
        "z": "6a68047d8997512b",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 800,
        "wires": []
    },
    {
        "id": "384472f8456ab59f",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "pengunjung/kamera",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 640,
        "y": 720,
        "wires": []
    },
    {
        "id": "8bfee3ce85b98330",
        "type": "mqtt out",
        "z": "6a68047d8997512b",
        "name": "",
        "topic": "pengunjung/lidar",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "42f78dc81b1a3654",
        "x": 630,
        "y": 800,
        "wires": []
    },
    {
        "id": "50a31b660205c8c2",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 3,
        "width": 8,
        "height": 5,
        "label": "Sensor Ultrasonic",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "35f0f108148d4b1c",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 9,
        "width": 8,
        "height": 5,
        "label": "Sensor Kamera",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "5fb6062704a9ab9f",
        "type": "ui_chart",
        "z": "6a68047d8997512b",
        "name": "",
        "group": "e6875bca0ca84129",
        "order": 11,
        "width": 8,
        "height": 5,
        "label": "Sensor Lidar",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "42f78dc81b1a3654",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e6875bca0ca84129",
        "type": "ui_group",
        "name": "Smart Restaurant",
        "tab": "1bac7a74c85ac321",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1bac7a74c85ac321",
        "type": "ui_tab",
        "name": "Group 3",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]